/* list,formのページをセンター揃え */
.listPages,.form,.detail{
text-align: center;
}

/* テーブル設定 */
.listTable{
  width: 100%;
  text-align: left;
  border: 1px black solid;
  margin: 10px 0px;
  border-collapse: collapse
} 
th,td{
  border: 1px black solid;
  padding: 5px;
}

th{
  background-color: rgb(238 238 238);
}

td{
  background-color: rgb(247, 247, 247);
}

/* ボタン設定 */
.listBtn,.formBtn,.detailBtn{
  border: 0px black solid;
  border-radius: 5px;
  background-color: #008cba;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  margin: 5px;
}

/* フォームの入力欄センター */
.formGroup,.detailList{
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

/* 入力欄 */
.formGroup input{
  width: 95%;
  padding: 10px;
  border: 1px #d2d2d2 solid;
  border-radius: 5px;
}
.formGroup div{
  font-weight: bold;
  margin: 5px;
}

/* 編集・追加のみセンター */
.formButton{
text-align: center;  
}

/* 詳細ページ */
.detailList,.formGroup{
  border: 1px #dcdcdc solid;
  padding: 14px;
}

.searchBerInput{
  width: 260px;
  padding: 10px;
  margin: 5px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
}

.searchBer button{
  border: 0px black solid;
  border-radius: 5px;
  background-color: #11c108;
  padding: 11px 10px;
  color: white;
  margin: 5px;
}